.graph_container {
  border: 2px solid green;
  width: 100%;
  height: 100vh;
}

.graph_container > svg {
  width: 100%;
  height: 100%;
}

.graph {
  position: relative;
  z-index: -1;
  background-color: #e1e5db;
}

.node_cover_img {
  width: 120px;
  object-fit: fill;
}
