.center-node {
  position: absolute;
  background: whitesmoke;
  padding: 20px;
  top: 25%;
  left: 25%;
  z-index: 99;
  width: 50%;
  margin: 0 auto;
  border: 2px solid blue;
  overflow: scroll;
  border-radius: 5px;
  .center-node::-webkit-scrollbar {
    display: none;
  }
  &__header {
    &__title {
      color: black;
      font-weight: 30px;
    }
    &__subtitle {
      color: black;
      font-weight: 18px;
    }
  }
  &__container {
    border: 1px solid red;
  }
}
